.table_excel {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    max-height: 350px;
    display: block;
    overflow: auto;
    position: relative;
    border-collapse: collapse;
}

.table_excel tbody td:hover {
    color: #000000;
}

.table_excel thead th {
    cursor: pointer;
    border: 1px dotted #adadad;
    border-spacing: 1px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_excel tbody td {
    cursor: pointer;
    border: 1px dotted #adadad;
    border-spacing: 1px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #505050;
}
