@font-face {
  font-family:"barcodefont";
  src: url('V100001_.eot'); /* IE9 Compat Modes */
  src: 
         url('V100001_.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('V100001_.woff') format('woff'),
         url('V100001_.ttf') format('truetype'),
         url('V100001_.svg#V100001_') format('svg');
}  	 	

.BarcodeFont  { 
    font-family:"barcodefont";
}

@font-face {
   font-family: myFirstFont;
  src: url(sansation_light.woff);
} 
