body
{
}


.partsWHButton
{
	width:354px;
    background-color:#E3D8F3;
    font-size:Large;
}

.DENSOpartsWHButton
{
	width:250px;
    background-color:#E3D8F3;
    font-size:Small;
}


.FGWHButton
{
	width:354px;
    background-color:#E9FDCB;
    font-size:Large;
}


.DENSOFGWHButton
{
	width:250px;
    background-color:#E9FDCB;
    font-size:Small;
}


